@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BLOW OUT!</p>
<br />
<br />
<p>Blow out is a fake website that have create just to mess with the public.</p>

<br />

<br />
<p>GOT YOU!</p>
<br />

<br />

<p>Does send real emails</p>