@{
    ViewBag.Title = "About";
}
<h2>Our Company</h2>



<br />
<br />
<p>
    Blow Out Instrument Rentals was founded by Larry Taylor in 1999. Larry, as a child, had a keen interest for music. His parents gave him a clarinet when he was eight years old and he found he had a natural talent for reading and playing on this instrument. As Larry grew up, he always desired to develop his talents in playing instruments other than his clarinet, but found that it was too expensive to buy each of the new instruments he wanted to try. Because of this pain point in his life, Larry wanted to help others to not have the same problem, which is why he started Blow Out Instrument Rentals. He wants everyone to be able to try learning an instrument without having to worry about the expensive costs that come with buying it. Renting instruments allows you to find out if you do or don’t like playing an instrument while only spending a small amount of money, rather than paying full price and being out a large amount of money to then realize you don’t like the instrument.
    <br /><br />
    The mission of Blow Out Instrument Rentals is to help others find the joy in playing music and to share that joy with others, no matter what the instrument may be. Larry feels strongly about the power and influence that music can have in our lives, and he simply wants to encourage us to realize that and share that. If you are even slightly interested in learning how to play a musical instrument, Larry will gladly help you find the right instrument and lead you on your way to changing your life and the lives of those around you.
</p>

<br />

<br />
<p>
    <img src="~/Content/Images/LarryTaylor2.jpg" />
    <br />
    Larry Taylor, Blow Out Instrument Rentals Founder
</p>
<br />

<br />

<p></p>