@{
    ViewBag.Title = "Blow Out!";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.  - Johann Sebastian Bach</p>
    <p><a href="https://www.youtube.com/watch?v=x_t1sR8_NKQ" class="btn btn-primary btn-lg">Why you should join band! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rentals</h2>
        <p>
            Learn how easy it is to save when you rent to own!.
        </p>
        <p><p><a class="btn btn-default" @Html.ActionLink("Learn more", "Index", "Rentals")></a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>Learn about Blow Out!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Learn more", "About", "Home") ></a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Need help? Contact us!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Learn more", "Index", "Contact")></a></p>
    </div>
</div>