
@{
    ViewBag.Title = "Login";
}
<br />
<br />
<br />
<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <label for="inputEmail">Username:</label>
    @Html.TextBox("Username")
    <br />
    <label for="inputPassword">Password:</label>
    @Html.Password("Password")
    <br />
    <button class="btn" type="submit">Login</button>
}