.myFooterText {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.bg {
    background-image: url(https://image.freepik.com/free-vector/piano-keys-jazz-live-concert-music-background_100823-2781.jpg);
}

img {
    height: 100px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: floralwhite
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

p {
    color: floralwhite
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
